@import "tailwindcss";

body{
  background-color:#FFFBF5;
}



@theme {
  --color-primary: #0D1B4C;
  --color-secondary: #D4A017;
  --color-background: #FFFBF5;
  --color-accent: #C62828;
}

/* :root {
  --primary: #0D1B4C;
  --secondary: #D4A017;
  --background: #FFFBF5;
  --accent: #C62828;

  --white: #FFFFFF;
  --text: #1F2937;
  --border: #E5E7EB;
}


.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
} */
